* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 1170px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
